.btn-primary, .bg-primary {
    background-color: #2855c6 !important;
    border-color: #2855c6 !important;
}

.text-primary {
    color: #2855c6;
}

.background-image-container {
    text-align: center;
    background-color: #2855c6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fades {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fades.fade-in {
    opacity: 1;
}