.background-image-container {
    text-align: center;
    background-color: #2855c6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#team-image {
    background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.stocksnap.io/img-thumbs/960w/business-team_BT6YG9XMB0.jpg");
}